# gradle

.gradle/
build/
out/
classes/
.cache/
.loom-cache/

# build versioning

build_number.txt

# eclipse

*.launch
.classpath
.project
.settings/
target/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
